.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-company-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.icon-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icon-client {
  fill: currentColor;
}

.company-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
