.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* header */
.page-header__container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu {
  display: flex;
  column-gap: 50px;
}

.link {
  text-decoration: none;
}

.logo-word {
  color: #000000;
}

a {
  text-decoration: none;
}

.menu__link {
  padding: 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
}

.menu__contacts {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: var(--accent-color);
  }
}

.menu__smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
